:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-green2: #367315;
  --basic-green3: #518534;
  --basic-green4: #00CA74;
  --basic-grey: #3D546F;
  --basic-grey2: #A9A9A9;
  --basic-grey3: #444444;
  --basic-greylight: #C5C5C5;
  --basic-greylight2: #E5E5E5;
  --basic-greylight3: #F1F1F1;
  --basic-greylight4: #EAEAEA;
  --basic-greylight5: #ABABAB;
  --basic-greylight6: #CFCFCF;
  --basic-greylight7: #F7F3EC;
  --basic-greylight8: #D7DCDE;
  --basic-greylight9: #F9F5F0;
  --basic-greydark: #32425C;
  --basic-greydark2: #405069;
  --basic-background: #F1F5F7;
  --basic-background-dark: #293449;
  --basic-dark: #161D29;
  --basic-dark2: #1D2739;
  --basic-dark3: #212A3A;
  --basic-dark4: #283136;
  --basic-white: #FFFFFF;
  --basic-white-rgb: 255, 255, 255;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;

  --special-yellow: #FFBF47;
  --special-yellow2: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;

  --color-success: #5FBB2D;
  --color-warning: #FFBF47;
  --color-error: #BA2732;

  --gradient-light-grey: linear-gradient(180deg, var(--basic-white) 0%, rgba(var(--basic-white-rgb), 0) 100%), var(--basic-greylight4);

  --font-name-1: "Cuprum";
  --font-name-2: "PT Sans";

  --container-gap: calc(50% - 470px);
}

@media (max-width: 970px) {
  :root {
    --container-gap: 10px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 940px;
  font-family: var(--font-name-2), "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.container {
  padding-left: var(--container-gap);
  padding-right: var(--container-gap);
}

a {
  text-decoration: none;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

a.button {
  color: var(--basic-white);
  font-family: var(--font-name-1), "Arial", sans-serif;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 192px;
  min-height: 38px;
  padding: 0 24px;
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: 0;
  background-color: var(--basic-red);
  color: var(--basic-white);
  cursor: pointer;
}

.button:active {
  background-color: var(--color-error);
}

.button-bg {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.button-bg:active {
  background-color: var(--basic-white);
}

.button-white {
  min-width: 140px;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: inherit;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-greylight2);
  cursor: pointer;
  transition: border-color 0.2s;
}

.button-white:hover {
  border-color: var(--basic-greylight);
}

.button-white:active {
  border-color: var(--basic-red);
}

.modal {
  position: fixed;
  top: 150px;
  left: 34px;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  box-shadow: 0 4px 20px rgba(var(--basic-black-rgb), 0.15);
  z-index: 100;
}

.modal-show {
  display: block;
  animation: bounce 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(-500px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

.form-error {
  animation: shake 0.5s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-form,
.modal-basket {
  bottom: auto;
  width: 620px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.modal-map {
  width: 943px;
  height: 449px;
  bottom: auto;
  left: -17px;
  border-top: 7px solid var(--basic-red);
}

.modal-map .modal-close {
  top: 8px;
  right: 9px;
}

.modal-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.modal-form {
  left: -16px;
}

.modal-form .modal-close {
  top: 21px;
  right: 10px;
}

.modal-basket .modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-basket-button {
  margin-left: 10px;
  border: 1px solid transparent;
}

.modal-basket-button:active {
  border-color: var(--basic-red);
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 23px;
  height: 23px;
  font-size: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close:active svg {
  fill: var(--color-error);
}

.js-modal-button *,
.modal-close path,
.modal-close svg {
  pointer-events: none;
}

.modal-body {
  border-top: 7px solid var(--basic-red);
  padding: 65px 10px 65px 10px;
}

.modal-form-body {
  padding: 41px 0 27px 0;
}

.modal-footer {
  background-color: var(--basic-greylight3);
  padding: 40px 38px 36px;
}

.modal-basket {
  text-align: center;
}

.modal-basket-title {
  display: inline-block;
  position: relative;
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding-left: 0;
  margin: 0;
  vertical-align: top;
}

.modal-basket-title::before {
  content: "";
  display: block;
  position: absolute;
  left: -95px;
  top: 50%;
  width: 66px;
  height: 66px;
  transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 66 66\"%3E%3Ccircle fill=\"%2363A63E\" cx=\"33\" cy=\"33\" r=\"33\"/%3E%3Cpath fill=\"%23FFF\" d=\"M49.641 21.066a1.003 1.003 0 0 0-1.414 0L29.788 39.504a1.003 1.003 0 0 1-1.414 0l-8.14-8.139a1.003 1.003 0 0 0-1.414 0L15.285 34.9a1.003 1.003 0 0 0 0 1.414l13.089 13.09a1.003 1.003 0 0 0 1.414 0l3.536-3.536 1.414-1.414 18.438-18.438a1.003 1.003 0 0 0 0-1.414l-3.535-3.536z\"/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-form-footer {
  padding-left: 80px;
  padding-right: 80px;
}

.modal-form-footer .button {
  width: 100%;
}

.form-modal {
  padding: 0 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 14px;
}

.form-modal-item {
  margin: 0;
}

.form-modal-item:last-child {
  grid-column: 1 / span 2;
}

.form-label {
  display: block;
  margin-bottom: 10px;
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.form-input {
  font-size: 13px;
  line-height: 24px;
  width: 100%;
  height: 38px;
  background: var(--basic-white);
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.form-input::placeholder {
  color: var(--basic-grey2);
}

.form-textarea {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 114px;
}

.header {
  font-family: var(--font-name-1), "Arial", sans-serif;
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header-top {
  background-color: var(--basic-background-dark);
  color: var(--basic-white);
}

.header-top-wrap {
  display: flex;
}

.header-top a {
  color: currentColor;
}

.header-top svg {
  opacity: 0.3;
  transition: opacity 0.4s, fill 0.4s;
}


.header p {
  margin-top: 0;
  margin-bottom: 0;
}

.logo {
  display: inline-flex;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(var(--basic-black-rgb), 0.24);
  padding-top: 12px;
  padding-left: 55px;
  padding-bottom: 17px;
  padding-right: 57px;
  margin-bottom: -5px;
}

.logo[href]:active {
  background-color: var(--color-error);
}

.search-form {
  position: relative;
}

.header-top-link,
.search-form-input {
  font-size: 18px;
  line-height: 24px;
}

.search-form-input {
  min-width: 271px;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 42px;
  transition: background-color 0.2s;
  color: var(--basic-white);
}

.search-form:focus-within .search-form-input,
.search-form-input:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.search-form:focus-within svg {
  opacity: 1;
  fill: var(--basic-red);
}

.search-form-input::placeholder {
  color: var(--basic-white);
}

.search-form:focus-within .search-form-input::placeholder,
.search-form-input:focus::placeholder {
  color: var(--basic-greylight);
}

.search-form-button {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  left: 6px;
  top: 50%;
  line-height: 0;
  background-color: transparent;
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
}

.search-form-button:focus {
  outline-offset: 20px;
}

.search-form:hover svg {
  opacity: 1;
}

.header-top-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 0;
  padding-right: 4px;
}

.header-top-link svg {
  margin-right: 9px;
}

.header-top-link:hover svg {
  opacity: 1;
}

.header-top-link:active {
  background-color: var(--basic-dark);
  color: rgba(var(--basic-white-rgb), 0.5);
}

.header-top-link:active svg {
  opacity: 0.3;
}

.header-top-link span {
  margin-left: 5px;
}

.header-top-link-svg {
  margin-top: -2px;
}

.header-top-link--bg-green {
  background-color: var(--color-success);
  transition: background-color 0.4s, color 0.4s;
  padding-right: 0;
  padding-left: 3px;
}

.header-top-link--bg-green:active {
  background-color: var(--basic-green);
  color: rgba(var(--basic-white-rgb), 0.5)
}

.header-top-link--bg-red {
  background-color: var(--basic-red);
  min-width: 136px;
  margin-left: auto;
  padding-right: 10px;
}

.header-mid-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 46px;
  padding-bottom: 40px;
}

.company-desc {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
  margin-right: 22px;
  max-width: 226.2px;
}

.company-desc > p {
  margin-top: 0;
  margin-bottom: 0;
}

.header-phone-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  min-width: 270px;
  min-height: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  box-shadow: inset 0 0 0 3px var(--basic-white);
  margin-bottom: 3px;
}

.header-phone-text::before {
  content: "";
  display: block;
  width: 19px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\"%3E%3Cpath d=\"M15.572 18.985h-.941c-4.129-.488-7.157-2.408-9.359-4.864C3.062 11.66 1.318 8.492.978 4.228V3.084c.078-.774.459-1.304.898-1.757C2.425.766 3.25.044 4.002.019c.554-.018 1.5.38 1.879.899.329.446.504 1.339.656 2.003.154.671.505 1.643.408 2.289-.148 1.007-1.487 1.434-1.879 2.166 1.307 3.135 3.443 5.439 6.293 7.031.715-.392 1.346-1.572 2.332-1.595.359-.009.818.178 1.184.286.402.121.75.275 1.104.408.596.224 1.648.521 2.004 1.021.365.513.57 1.356.49 1.879-.164 1.041-1.879 2.197-2.901 2.579z\" fill=\"%23B7BFC8\"/%3E%3C/svg%3E");
  margin-right: 16px;
}

.header-phone-text:hover::before {
  animation: ringPhone 1.2s infinite ease;
}

@keyframes ringPhone {
  5% {
    transform: rotateZ(12deg);
  }
  10% {
    transform: rotateZ(-12deg);
  }
  15% {
    transform: rotateZ(8deg);
  }
  20% {
    transform: rotateZ(-8deg);
  }
  25% {
    transform: rotateZ(4deg);
  }
  30% {
    transform: rotateZ(-4deg);
  }
  35% {
    transform: rotateZ(1deg);
  }
  40% {
    transform: rotateZ(-1deg);
  }
}

.header-phone-address {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-greydark);
  max-width: 270px;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-column-gap: 10px;
}

.profile-account-wrap,
.profile-list-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 121px;
  min-height: 45px;
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.profile-list-link:hover {
  color: var(--basic-red);
}

.profile-account-wrap {
  min-width: auto;
  padding-left: 15px;
  padding-right: 17px;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  margin-left: -18px;
}

.profile-account {
  display: flex;
  align-items: center;
}

.profile-account > svg {
  margin-right: 21px;
}

.profile-link path,
.profile-account path {
  transition: fill 0.4s;
}

.profile-account:focus,
.profile-account:hover {
  color: var(--basic-black);
}

.profile-account:active {
  color: var(--basic-greylight);
}

.profile-link:hover path,
.profile-account:hover path {
  fill: var(--basic-grey);
}

.profile-link:active path,
.profile-account:active path {
  fill: var(--basic-greylight);
}

.profile-sub-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -18px;
}

.profile-sub-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.profile-sub-list li:not(:last-child)::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 10px;
  margin-left: 14px;
  margin-right: 14px;
  background-color: var(--basic-greydark);
}

.profile-link {
  margin-left: 19px;
  line-height: 0;
}

.profile-list-link--width {
  min-width: 150px;
}

.profile-list-link svg {
  transform: translateX(-7px);
  transition: fill 0.2s;
}

.profile-list-link:hover svg {
  fill: var(--basic-grey);
  transition-duration: 0.4s;
}

.profile-list-link:active {
  color: var(--basic-greylight);
}

.profile-list-link:active svg {
  fill: var(--basic-greylight);
}

.profile-info-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-greydark);
}

.profile-info-link:hover {
  color: var(--basic-red);
}

.profile-info-link:active {
  color: var(--basic-greylight);
}

.nav {
  padding-left: 22px;
  padding-right: 20px;
  min-height: 60px;
  color: var(--basic-white);
  background-color: var(--basic-greydark);
  box-shadow: inset 0 -5px 0 var(--basic-background-dark);
}

.nav a {
  display: block;
  padding-top: 17px;
  padding-left: 27px;
  padding-bottom: 14px;
  padding-right: 24px;
  font-size: 18px;
  line-height: 24px;
  color: currentColor;
}

.nav a[href]:hover {
  background-color: var(--basic-background-dark);
}

.nav a[href]:active {
  background-color: var(--basic-dark2);
  color: rgba(var(--basic-white-rgb), 0.5);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.nav-list li {
  flex-grow: 1;
}

.about-company-title {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 23px;
  letter-spacing: -0.8px;
}

.about-map-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.page-title {
  font-family: var(--font-name-1), "Arial", sans-serif;
  color: var(--basic-greydark);
  background-color: var(--basic-background);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: -0.8px;
  min-height: 89px;
  display: flex;
  align-items: center;
  padding-left: 29px;
  margin-top: 0;
  margin-bottom: 20px;
}

.filter-form {
  text-transform: uppercase;
}

.filter-form-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 12px;
}

.filter-form-label {
  font-size: 15px;
  line-height: 19px;
}

.filter-form-button {
  width: 100%;
  border-radius: 0;
  font-size: 13px;
  line-height: 18px;
  margin-top: 36px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 48px;
  width: 100%;
}

.catalog-list-name {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  text-transform: none;
  margin-top: 0;
  margin-bottom: 8px;
}

.catalog-list-old-price {
  color: var(--basic-grey2);
}

.catalog-list-price {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  min-height: 38px;
  min-width: 122px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  margin-top: 13px;
}

.catalog-list-price::after {
  content: "";
  position: absolute;
  right: -38px;
  border-style: solid;
  border-width: 19px;
  border-color: transparent transparent transparent var(--basic-red);
}

.new::before,
.catalog-list-buy,
.catalog-list-bookmark {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.new {
  position: relative;
  overflow: hidden;
}

.new::before {
  content: "NEW";
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg) translateX(49%) translateY(61%);
  transform-origin: top right;
  z-index: 5;
}

.catalog-list-buy,
.catalog-list-bookmark {
  min-width: 135px;
  min-height: 38px;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-list-buy {
  display: flex;
  align-items: center;
  padding-right: 12px;
  background: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--basic-green2);
  color: var(--basic-white);
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.catalog-list-buy::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  margin-bottom: 3px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 15 15\"%3E%3Ccircle fill=\"%23ffffff\" cx=\"4.5\" cy=\"13.5\" r=\"1.5\"/%3E%3Ccircle fill=\"%23ffffff\" cx=\"12.5\" cy=\"13.5\" r=\"1.5\"/%3E%3Cpath fill=\"%23ffffff\" d=\"M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z\"/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-list-buy:hover {
  color: var(--basic-white);
  background-color: var(--color-success);
}

.catalog-list-buy:active {
  background-color: var(--basic-green3);
}

.catalog-list-bookmark {
  color: var(--basic-greydark);
  border: 3px solid var(--basic-green);
  transition: border-color 0.3s, opacity 0.2s;
}

.catalog-list-bookmark:hover {
  color: var(--basic-greydark);
  border-color: var(--basic-greydark);
}

.catalog-list-bookmark:active {
  opacity: 0.5;
}

.about-company {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  padding-top: 73px;
  padding-bottom: 67px;
}

.about-company-button {
  min-width: 220px;
}

.about-company-content {
  max-width: 478px;
}

.about-company-info {
  max-width: 300px;
}

.about-company-info .button {
  width: 100%;
}

.about-company-info p {
  max-width: 180px;
  margin-bottom: 33px;
}

.about-company-list {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
}

.about-company-list li {
  position: relative;
  padding-left: 37px;
  margin-bottom: 11px;
}

.about-company-list li:last-child {
  margin-bottom: 0;
}

.about-company-text-1 {
  margin-bottom: 28px;
  margin-top: 0;
}

.about-company-text-2 {
  margin-bottom: 1px;
}

.about-company-text-2 > p {
  margin-top: 0;
  margin-bottom: 0;
}

.about-company-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1px);
  height: 2px;
  width: 25px;
  background-color: var(--basic-red);
}


.footer {
  font-size: 18px;
  line-height: 24px;
  font-family: var(--font-name-1), "Arial", sans-serif;
  background-color: var(--basic-greydark);
  color: var(--basic-white);
}

.footer a {
  color: var(--special-yellowlight);
}

.footer .logo {
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 20px;
  padding-bottom: 25px;
  flex-shrink: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.additional-menu,
.footer-nav {
  display: flex;
  align-self: flex-end;
  flex-wrap: wrap;
}

.additional-menu {
  align-self: center;
  margin-top: -5px;
  max-width: 523px;
}

.additional-menu a {
  padding-top: 24px;
  padding-bottom: 21px;
  display: block;
}

.footer-nav {
  color: var(--basic-background);
  max-width: 548px;
}

.additional-menu li:not(:last-child),
.footer-nav li:not(:last-child) {
  margin-right: 59px;
}

.footer-nav a {
  padding-top: 30px;
  color: currentColor;
  display: block;
}

.footer-address {
  margin-top: 13px;
  font-style: normal;
  line-height: 26px;
  padding-left: 3px;
  color: var(--basic-background);
  max-width: 350px;
}

.footer-address a {
  color: currentColor;
  display: inline-block;
  vertical-align: top;
}

.footer-bottom-text a[href]:hover,
.footer-address a[href]:hover,
.additional-menu a[href]:hover,
.footer-nav a[href]:hover {
  text-decoration: underline;
}

.footer-address a:active,
.additional-menu a:active,
.footer-nav a:active {
  text-decoration: none;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-bottom {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  line-height: 18px;
  margin-top: 50px;
  padding-top: 34px;
  padding-bottom: 30px;
  color: var(--basic-white);
  background-color: var(--basic-background-dark);
}

.footer-bottom p {
  margin-top: 0;
  margin-bottom: 0;
}

.copyright {
  font-size: inherit;
  line-height: inherit;
  max-width: 250px;
  flex-shrink: 0;
}

.footer-social-section {
  margin-left: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-left: 60px;
  padding-right: 4px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.footer-social li:not(:last-child) {
  margin-right: 4px;
}

.footer-bottom-text {
  margin-left: 37px;
  margin-right: 14px;
}

.footer-bottom-text a {
  display: block;
}

.footer-bottom-text a[href]:active {
  text-decoration: none;
  color: var(--basic-red);
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background-color: var(--basic-dark3);
}

.footer-social-link:hover {
  background-color: var(--basic-red);
}

.breadcrumb {
  display: flex;
  margin-top: 21px;
  margin-bottom: 20px;
  color: var(--basic-black);
}

.breadcrumb li {
  display: flex;
  align-items: center;
}

.breadcrumb li:not(:last-child)::after {
  content: "";
  display: block;
  width: 8px;
  height: 12px;
  border-radius: 10px;
  margin-left: 16px;
  margin-right: 17px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 8 12\"%3E%3Cpath fill=\"%23C1C6CE\" d=\"M7.237 5.642L1.729.133a.506.506 0 1 0-.716.716L6.163 6l-5.151 5.15a.507.507 0 0 0 .716.717l5.509-5.509a.504.504 0 0 0 0-.716z\"/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumb-link {
  color: currentColor;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumb-link:active {
  color: var(--basic-greylight);
}

.breadcrumb-link svg {
  transition: fill 0.2s;
}

.breadcrumb-link:hover svg {
  fill: var(--basic-red);
}

.breadcrumb-link:active svg {
  fill: var(--basic-greylight);
}

.breadcrumb-link:not([href]) {
  color: currentColor;
}

.content-wrap {
  display: flex;
}

.filter-section {
  max-width: 220px;
  margin-right: 20px;
}

.content-section {
  width: 100%;
}

.filter-section + .content-section {
  max-width: 700px;
}

.filter-list li:not(:last-child) {
  margin-bottom: 16px;
}

.filter-radio-list {
  margin-top: 13px;
}

.filter-radio-list li:not(:last-child) {
  margin-bottom: 14px;
}

.filter-wrap {
  margin-top: 13px;
  margin-bottom: 20px;
}

.filter-rule {
  border: none;
  height: 1px;
  margin-top: 26px;
  margin-bottom: 16px;
  background-color: var(--basic-greylight2);
}

.radio + label,
.checkbox + label {
  position: relative;
  display: flex;
  align-items: center;
}

.radio + label::before,
.checkbox + label::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.7;
  transition: opacity 0.2s;
  flex-shrink: 0;
}

.checkbox + label::before {
  width: 27px;
  height: 23px;
  margin-right: 8px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"23\" height=\"23\" viewBox=\"0 0 23 23\"%3E%3Cpath fill=\"%23c5c5c5\" d=\"M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z\"/%3E%3C/svg%3E%0A");
}

.radio + label::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"25\" height=\"25\" viewBox=\"0 0 25 25\"%3E%3Cpath fill=\"%23c5c5c5\" d=\"M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z\"/%3E%3C/svg%3E%0A");
}

.radio:focus + label::before,
.radio + label:hover::before,
.checkbox:focus + label::before,
.checkbox + label:hover::before {
  opacity: 1;
}

.radio:focus + label,
.checkbox:focus + label {
  outline: 1px solid var(--basic-dark);
  outline-offset: 5px;
}

.radio:disabled + label,
.checkbox:disabled + label {
  opacity: 0.3;
}

.checkbox:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"27\" height=\"23\" viewBox=\"0 0 27 23\"%3E%3Cpath fill=\"%23c5c5c5\" d=\"M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z\"/%3E%3Cpath fill=\"%23c5c5c5\" d=\"M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z\"/%3E%3C/svg%3E%0A");
}

.radio:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"25\" height=\"25\" viewBox=\"0 0 25 25\"%3E%3Cpath fill=\"%23c5c5c5\" d=\"M12.5 4c4.687 0 8.5 3.813 8.5 8.5 0 4.687-3.813 8.5-8.5 8.5C7.813 21 4 17.187 4 12.5 4 7.813 7.813 4 12.5 4m0-4C5.597 0 0 5.597 0 12.5S5.597 25 12.5 25 25 19.403 25 12.5 19.403 0 12.5 0z\"/%3E%3Ccircle fill=\"%23c5c5c5\" cx=\"12.5\" cy=\"12.5\" r=\"4.5\"/%3E%3C/svg%3E%0A");
}

.card-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
  padding-left: 21px;
  padding-right: 21px;
  border: 1px solid var(--basic-greylight4);
  background-color: var(--basic-white);
  box-shadow: 0 0 0 rgba(var(--basic-black-rgb), 0.0);
  text-align: center;
  min-height: 100%;
  transition: box-shadow 0.4s;
}

.card-item p {
  margin-top: auto;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.card-item figure {
  padding: 0;
  margin: 0;
}

.card-button-list {
  position: absolute;
  top: 38px;
  opacity: 0;
  transform: translateY(30px);
  transition: transform 0.4s, opacity 0.3s;
}

.card-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 200px;
  height: 164px;
  margin-bottom: 14px;
}

.card-img-wrap img {
  max-height: 100%;
  width: auto;
  transform-origin: top center;
  transition: opacity 0.3s 0.1s, transform 0.4s 0.1s;
}

.card-item:hover {
  box-shadow: 0 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.card-item:focus-within .card-button-list,
.card-item:hover .card-button-list {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 0.15s;
}

.card-item:focus-within img,
.card-item:hover img {
  opacity: 0;
  transform: scale(0.8);
  transition-delay: 0s;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
  color: var(--basic-black);
}

.pagination li:not(:last-child) {
  margin-right: 10px;
}

.pagination a {
  color: currentColor;
}

.pagination-text,
.pagination-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  min-width: 38px;
  min-height: 38px;
  border-radius: 2px;
  border: 1px solid var(--basic-greylight2);
  transition: border-color 0.3s;
}

.pagination-text:hover,
.pagination-number:hover {
  color: var(--basic-black);
}

.pagination-text[href]:active,
.pagination-number[href]:active {
  border-color: var(--basic-red);
}

.pagination .disable-page {
  color: var(--basic-greylight2);
}

.pagination .current-page {
  border-width: 0;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.pagination-text {
  min-width: 140px;
}

.about-page {
  padding-top: 68px;
  padding-bottom: 67px;
  color: var(--basic-black);
  background-color: var(--basic-background);
}

.about-page-title {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 30px;
  line-height: 26px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 29px;
}

.about-page-text {
  font-size: 13px;
  line-height: 24px;
}

.about-page-text > p {
  margin-top: 0;
  margin-bottom: 0;
}

.range-filter {
  width: 100%;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-greylight7);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-greylight8);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green4);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-greylight5);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-greylight6);
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.price-controls::before {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  display: block;
  height: 1px;
  width: 10px;
  background-color: var(--basic-grey3);
}

.price-controls label {
  text-transform: uppercase;
  font-size: 17px;
  width: 43%;
}

.price-controls input {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 15px;
  color: var(--basic-dark4);
  border: none;
  border-radius: 5px;
  background-color: var(--basic-greylight7);
  font-family: inherit;
  font-size: inherit;
}

.filter-section-title {
  background-color: var(--basic-greylight7);
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 13px;
}

.sort-product {
  background-color: var(--basic-greylight7);
  min-height: 38px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 14px;
  justify-content: space-between;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.sort-product-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.sort-product-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.sort-product-list li {
  margin-right: 23px;
  margin-left: 22px;
  display: flex;
  align-items: center;
}

.sort-product-list .sort-product-list-price {
  margin-right: 50px;
}

.sort-product-list .sort-product-list-type {
  margin-right: 43px;
}


.sort-product-link span {
  opacity: 0.3;
}

.sort-product-link:hover span {
  opacity: 1;
}

.sort-product-link {
  border-bottom: 1px dotted var(--basic-red);
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sort-product-link:hover {
  border-bottom-style: solid;
}

.sort-product-link:active,
.sort-product-link.active {
  border-bottom: none;
  color: var(--basic-red);
}

.sort-product-link:active span,
.sort-product-link.active span {
  opacity: 1;
}

.sort-product-button:last-child {
  margin-left: 21px;
  margin-right: -21px;
}

.sort-product-button:hover path {
  fill: var(--basic-black);
}

.sort-product-button.active path,
.sort-product-button:active path {
  fill: var(--basic-red);
}

.useful-link-wrap {
  margin-top: 59px;
  font-family: var(--font-name-1), "Arial", sans-serif;
  margin-bottom: 59px;
}

.useful-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 21px 22px;
  background-color: var(--basic-grey);
  color: var(--basic-white);
  height: 100%;
  width: 100%;
}

.useful-block--yellow {
  background-color: var(--special-yellow);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"44\" height=\"65\" viewBox=\"0 0 44 65\"%3E%3Cg fill=\"%23FFF\"%3E%3Cpath d=\"M37.91 30.438v10.869s.105 2.735-2.825 2.735c-3.069 0-3.125-2.735-3.125-2.735v-6.416c0-.24-.336-1.909-2.319-1.909-2.625 0-2.67 1.877-2.67 1.877V54.08s.029 1.863-2.464 1.863C22 55.943 22 53.96 22 53.96V40.016s0-2.945-3.805-2.945c-4.054 0-3.967 3.125-3.967 3.125v3.728s-.121 2.945-4.688 2.945-4.628-4.509-4.628-4.509V29.938C3.168 28.976 0 26.671 0 26.671v29.332S2.988 65 22 65s22-8.695 22-8.695V26.671c-2.938 2.829-6.09 3.767-6.09 3.767z\"/%3E%3Cpath d=\"M22 0C1.688 0 0 19.875 0 19.875v3.062C8.438 29.188 22 29 22 29s13.562.188 22-6.062v-3.062C44 19.875 42.312 0 22 0zm0 25c-11.75 0-14.312-2.375-14.312-2.375C13.938 19.75 22 19.875 22 19.875s8.062-.125 14.312 2.75c0 0-2.562 2.375-14.312 2.375zm0-12.375c-9.562 0-17.688 2.938-17.688 2.938C8.875 2.625 22 3.062 22 3.062s13.125-.438 17.688 12.5c0 0-8.126-2.937-17.688-2.937z\"/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 43px) 53%;
}

.useful-block--blue {
  background-color: var(--special-blue);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"75\" height=\"61\" viewBox=\"0 0 75 61\"%3E%3Cg fill=\"%23FFF\"%3E%3Cpath d=\"M5.039 58.949S5.039 61 6.907 61h27.02s2.001-.184 2.001-1.984V47.942H5.039v11.007zM73.875 8.016H60.387c-.621-2.287-2.071-3.891-3.762-3.891h-7.542v12.75h7.542c1.69 0 3.141-1.604 3.762-3.891h13.488c.575 0 1.042-1.112 1.042-2.484s-.467-2.484-1.042-2.484zM2.103 0C.167 0 0 2.041 0 2.041v15.812c0 2.936 2.903 3.002 2.903 3.002h9.007c1.935 0 1.601 1.334 1.601 1.334s-2.469 13.01-2.735 15.211c-.267 2.203-1.868 3.604-1.868 3.604s-2.135 1.201-3.002 1.668-.867 2.201-.867 2.201h30.889v-.734c0-1.467-6.472-3.135-9.073-3.402-2.602-.266-2.068-2.002-2.068-2.002l1.067-7.805h3.002l1.134-7.873h-3.002l.331-2.737 8.609-.131c5.805-.601 10.008-4.07 10.008-4.07V4.109C41.333.84 33.993 0 33.993 0H2.103zM36 4.938v.031c0 .55-.45 1-1 1H5.031c-.55 0-1-.45-1-1v-.031c0-.55.45-1 1-1H35c.55 0 1 .45 1 1z\"/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 31px) 53%;
}

.useful-block--lilac {
  background-color: var(--special-lilac);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"78\" height=\"62\" viewBox=\"0 0 78 62\"%3E%3Cg fill=\"%23FFF\"%3E%3Cpath d=\"M16.125 29.749C7.22 29.749 0 36.968 0 45.875 0 54.78 7.22 62 16.125 62S32.25 54.78 32.25 45.875c.001-8.907-7.219-16.126-16.125-16.126zm0 23.433a7.306 7.306 0 0 1-7.307-7.307 7.307 7.307 0 1 1 14.614 0 7.306 7.306 0 0 1-7.307 7.307zM60.854 45.874a8.062 8.062 0 0 0-8.062 8.062 8.062 8.062 0 1 0 16.124 0 8.06 8.06 0 0 0-8.062-8.062zm0 13.126a5.063 5.063 0 1 1 .002-10.126A5.063 5.063 0 0 1 60.854 59z\"/%3E%3Cpath d=\"M77.898 49.727s-2.023-15.102-2.461-18.414c-.547-4.141-3.625-4.688-3.625-4.688L66 25.946V14h-3v5.833h-4v5.295L47.188 23.75S37.438 3.688 36.626 1.875 33.5 0 33.5 0 11.125 2.375 8.75 3 5.312 6.167 5.312 6.167c-2.308 6.37-2.311 17.296-2.266 20.255a23.328 23.328 0 0 1 13.079-3.986c12.944 0 23.438 10.493 23.438 23.439 0 2.438-.373 4.789-1.064 7h10.164c.39-6.402 5.69-11.479 12.191-11.479s11.802 5.077 12.191 11.479H75c3.641 0 2.898-3.148 2.898-3.148zM23.083 19.833h-6.958V6.167h6.958v13.666zm10 0h-6.958V6.167h6.958v13.666zM53.016 36H49v-7h4.016v7zm7 0H56v-7h4.016v7zm7 0H63v-7h4.016v7z\"/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 31px) 53%;
}

.useful-block--green {
  background-color: var(--special-greenlight);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"59\" height=\"72\" viewBox=\"0 0 59 72\"%3E%3Cg fill=\"%23FFF\"%3E%3Cpath d=\"M58.34 20.545a2.997 2.997 0 0 0-2.396-1.195h-38.67l-2.475-7.385H3.058a3 3 0 1 0 0 6h7.424l13.5 40.285h25.159a3 3 0 1 0 0-6H28.299l-1.726-5.149h23.12a3.001 3.001 0 0 0 2.884-2.172l6.25-21.75a3.005 3.005 0 0 0-.487-2.634zm-7.781 9.681h-4.81V25.35h6.211l-1.401 4.876zm-17.617 0V25.35h6.807v4.875h-6.807zm6.807 6v4.875h-6.807v-4.875h6.807zM26.942 25.35v4.875h-6.023l-1.634-4.875h7.657zm-4.013 10.876h4.013v4.875h-2.379l-1.634-4.875zm22.82 4.875v-4.875h3.086l-1.401 4.875h-1.685z\"/%3E%3Ccircle cx=\"27.406\" cy=\"66.094\" r=\"5.781\"/%3E%3Ccircle cx=\"44.844\" cy=\"66.094\" r=\"5.781\"/%3E%3Cpath d=\"M29.335 9.699l7.547 5.492a1.986 1.986 0 0 0 2.818-.494c.646-.936.43-2.232-.48-2.895l-2.373-1.726 9.436-5.09L50.911 17h4.347L49.214 1.309A2.051 2.051 0 0 0 48.037.126a1.97 1.97 0 0 0-1.643.109L33.146 7.382l-3.022-2.199a1.986 1.986 0 0 0-2.742.39l-8.481 10.798a2.176 2.176 0 0 0-.405.628h5.106l5.733-7.3z\"/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 45px) 53%;
}

.useful-block--yellow-2 {
  background-color: var(--special-yellow2);
  background-image: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"78\" height=\"63\" viewBox=\"0 0 78 63\"%3E%3Cg fill=\"%23FFF\"%3E%3Ccircle cx=\"25.983\" cy=\"55.5\" r=\"7.5\"/%3E%3Ccircle cx=\"59.982\" cy=\"55.5\" r=\"7.5\"/%3E%3Cpath d=\"M64 0H11.062c-3.188 0-3 3.125-3 3.125V8H3.469a3.469 3.469 0 1 0 0 6.938l28.085 1.84.196.043c-.761 3.197-8.938 3.805-8.938 3.805l-8.31.428H5.446a3.375 3.375 0 1 0 0 6.75l23.656 1.254c-.807 3.153-6.29 3.756-6.29 3.756l-14.751.76v15.615c0 3.188 2.564 3.812 2.564 3.812h2.099c1.173-6.261 6.659-11 13.259-11s12.085 4.739 13.259 11h7.404c1.174-6.261 6.66-11 13.26-11 6.601 0 12.086 4.739 13.26 11h1.709C77.812 53 78 48.938 78 48.938v-15.25C78 14.812 64 0 64 0zM52 23.938v-15h10.062l5.75 15H52z\"/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 31px) 53%;
}

.useful-block-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: currentColor;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-width: 135px;
  min-height: 38px;
}

.useful-block-link > span {
  position: relative;
}

.useful-block-link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic-white);
  mix-blend-mode: normal;
  opacity: 0.3;
}

.useful-block-link:hover {
  color: var(--basic-white);
}

.useful-block-link:hover::after {
  background-color: var(--basic-greylight);
}

.useful-block-link:active::after {
  background-color: var(--basic-grey2);
}

.useful-block-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 14px;
}

.useful-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.useful-item {
  min-height: 123px;
  height: 100%;
}

.useful-item--size {
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}

.popular-product {
  margin-bottom: 70px;
}

.section-title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 14px 15px 28px;
  min-height: 89px;
  background-color: var(--basic-greylight9);
  margin-bottom: 20px;
}

.section-title {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
}

.section-link {
  font-family: var(--font-name-1), "Arial", sans-serif;
}

.popular-company {
  margin-bottom: 70px;
}

.popular-company .section-title-wrap {
  padding-right: 20px;
}

.company-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-auto-rows: minmax(145px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid var(--basic-greylight4);
  background-color: var(--basic-white);
}

.company-link:hover {
  box-shadow: 0 4px 20px rgba(var(--basic-black-rgb), 0.15);
}

.company-link:active {
  opacity: 0.5;
}

.main-slider {
  position: relative;
  color: var(--basic-white);
  height: 100%;
}

.main-slider-wrap {
  height: 100%;
}

.main-slider-item {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  display: none;
}

.main-slider-item.active {
  display: flex;
  animation: blink 0.5s;
}


.main-slider-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--basic-greylight);
  z-index: -5;
}

.main-slider-control {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  padding-left: 18px;
  padding-right: 14px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  pointer-events: none;
}

.slider-control {
  cursor: pointer;
  pointer-events: all;
  background: none;
  border: none;
}

.slider-control svg,
.slider-control path {
  pointer-events: none;
}

.main-slider-nav {
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 5;
}

.main-slider-nav > li:not(:last-child) {
  margin-right: 10px;
}

.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: var(--basic-white);
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider-nav.active::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background-color: var(--basic-red);
}

.slider-item-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.slider-item-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 27px;
  flex-grow: 1;
}

.slider-item-head {
  flex-shrink: 0;
  width: 100%;
  padding: 23px 24px 16px;
}

.slider-head-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}

.slider-head-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.service-section {
  padding-top: 65px;
}

.service-section-head {
  margin-bottom: 21px;
}

.service-section-head h3 {
  margin-top: 0;
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 27px;
  letter-spacing: -0.8px;
}

.service-section-head p {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}

.service-section-body {
  display: flex;
  align-items: flex-start;
}

.service-list {
  position: relative;
  width: 240px;
  padding-top: 49px;
  padding-bottom: 45px;
  overflow: hidden;
  margin-right: 80px;
  flex-shrink: 0;
  margin-bottom: 54px;
}

.service-list::after {
  content: "";
  position: absolute;
  top: 0;
  right: -31px;
  width: 30px;
  height: 100%;
  z-index: 5;
  overflow: visible;
  box-shadow: -6px 0 6px 0 var(--basic-black);
  border-radius: 100%;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.service-list-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 61px;
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: var(--basic-greydark);
  color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-background-dark), inset 0 1px 0 var(--basic-greydark2);
}

.service-list-link:hover {
  background: var(--basic-background-dark);
  color: var(--basic-white);
}

.service-list-link.active {
  color: var(--basic-greydark);
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);
}

.service-wrap {
  position: relative;
  z-index: 2;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  padding-top: 7px;
}

.service-content > section {
  position: relative;
  flex-grow: 1;
  width: 100%;
  display: none;
}

.service-content > section::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-content-tab-1::after {
  top: 59px;
  right: 1px;
  width: 468px;
  height: 261px;
  background-image: url("../img/service-bg.png");
}


.service-content-tab-2::after {
  top: 36px;
  right: -8px;
  width: 389px;
  height: 283px;
  background-image: url("../img/warranty-bg.png");
}

.service-content-tab-3::after {
  top: 37px;
  right: -10px;
  width: 465px;
  height: 285px;
  background-image: url("../img/credit-bg.png");
}

.service-content > section.active {
  display: block;
  animation: blink 0.6s;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.service-content-title {
  font-family: var(--font-name-1), "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-greydark);
  margin-bottom: 30px;
  letter-spacing: -0.8px;
}

.service-content-title-margin-bottom {
  margin-bottom: 23px;
}

.service-content-title-margin-bottom-2 {
  margin-bottom: 27px;
}

.service-content-text {
  font-size: 13px;
  line-height: 24px;
  max-width: 350px;
  padding-bottom: 20px;
}

.service-content-text > p {
  margin-top: 0;
  margin-bottom: 0;
}

.service-content-button {
  margin-top: 6px;
  margin-bottom: 20px;
  min-width: 195px;
  border-radius: 3px;
}


.section-gray {
  background-color: var(--basic-background);
}
